services:
  backend:
    image: "ghcr.io/adesz88/health-tracker-backend:latest"
    ports:
      - "3000:3000"
    hostname: "backend"
    networks:
      health-tracker-network:
        ipv4_address: 172.60.0.4

  frontend:
    image: "ghcr.io/adesz88/health-tracker-frontend:latest"
    ports:
      - "4200:80"
    attach: false
    networks:
      health-tracker-network:
        ipv4_address: 172.60.0.5
    depends_on:
      - backend

networks:
 health-tracker-network:
  name: health-tracker-network
  external: true
